<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un Post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <input type="text" id="content" class="form-control" formControlName="content">
      </div>
      <button type="submit" class="btn btn-success"
              [disabled]="postForm.invalid">Créer</button>
    </form>
  </div>
</div>
